@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css?family=Charm&display=swap');

:root{
  --white-pink: #F9F1D8;
  --sand:#FAEBB2;
  --blood: #80241E;
  --oldblood: #402F30;

  --title-font: 'MedievalSharp', serif;
  --cursive-font: 'Charm';
  
}

body {
  background: rgb(250,235,178);
  background: radial-gradient(circle, rgba(250,235,178,1) 68%, rgba(128,36,30,1) 100%);
  background-attachment: fixed;
  color: #80241E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-title{
  font-family: var(--title-font);
}


.main-event-text{
  margin-left: 4%;
}

.intro-text{
  font-family: var(--cursive-font);
  font-size: 30px;
}

.button-long{
  border-radius: 20px;
  border: 2px solid #402F30;
  padding: 10px 30px 10px;
  width: max-content;
  background-color: #80241E;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 3px 8px #350f0c, inset 0px 2px 3px #ff8a82;
}

.button-small{
  border-radius: 20px;
  border: 2px solid #402F30;
  padding: 5px 10px 5px;
  width: max-content;
  background-color: #80241E;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #ff8a82;
}

.button-x-small{
  border-radius: 10px;
  border: 2px solid #402F30;
  padding: 2px 9px 2px;
  width: max-content;
  background-color: #80241E;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #ff8a82;
}

.btn-rounded{
  border-radius: 5px;
  border: 2px solid #402F30;
  padding: 4px 20px 4px;
  width: 200px;
  background-color: #80241E;
  color: white;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #ff8a82;
}

.btn-rounded-small{
  border-radius: 5px;
  border: 2px solid #402F30;
  padding: 4px 20px 4px;
  width: fit-content;
  background-color: #80241E;
  color: white;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #ff8a82;
}

.btn-equip-menu{
  width: 500px;
}



button:hover {
  cursor: pointer;
}

button:active{
  transform: translateY(2px);
  background-color: var(--oldblood);
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #251b1a;
}

button:disabled{
  cursor: not-allowed;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px #350f0c, inset 0px 2px 3px #251b1a;
  background-color: var(--oldblood);
  color: #251b1a;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.no-click:hover{
  cursor: context-menu;
}

.no-click:active{
  background-color: #80241E;
  transform: translateY(0px);
  cursor: context-menu;
}